.memory-row {
    color: green;
    margin-top: 0;
    margin-bottom: 0;
    font-family: monospace;
}

.current-row {
    color: red;
    font-weight: 55;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: monospace;
}

.register-row {
    color: blue;
    margin-top: 0;
    margin-bottom: 0;
    font-family: monospace;
}

.hexvalue {
    color: purple;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
    padding-left: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.smalltitle {
    margin-bottom: 2px;
}

/* using this class mainly for the width property. the row index should be a constant distance from
   the row. hence, width property */
.memory-index {
    display: inline-block;
    width: 3ch;
    text-align: right;
}

.reset-div {
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-color: gainsboro;
}