.memory-row {
    color: green;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Space Mono", monospace;
    font-size: 16px;
}

.memory-row-selected {
    color: red;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Space Mono", monospace;
    font-size: 16px;
}

.register-row {
    color: blue;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Space Mono", monospace;
    font-size: 16px;
}

.hexvalue {
    color: purple;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Space Mono", monospace;
    padding-left: 20px;
    font-size: 16px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.smalltitle {
    margin-bottom: 2px;
}

/* using this class mainly for the width property. the row index should be a constant distance from
   the row. hence, width property */
.memory-index {
    display: inline-block;
    width: 3ch;
    text-align: right;
}

.reset-div {
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-color: gainsboro;
    font-family: "DM Sans", sans-serif;
}

.ra {
    text-align: right;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.75) !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,1) !important;
}

.navbar-dark .navbar-brand {
  color: white !important;
}